.light {
  background-color: #7b1fa2;
  max-width: 500px;
  border-radius: 4px;
  padding: 8px;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .body {
    .right {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
}
