.light {
  background-color: darkgrey;
  max-width: 500px;
  border-radius: 4px;
  padding: 8px;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .body {
    .right {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 16px;
    }
  }
}
