<p>Before using this, get a CORS Unblock extension for your browser.</p>
<p>
  All I've verified is Chrome.
  <a
    href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino"
    target="_blank"
    >This one.</a
  >
</p>
<div style="margin-bottom: 20px">
  <mat-form-field appearance="standard" style="margin-right: 8px">
    <mat-label>F1MV Url</mat-label>
    <input
      matInput
      type="text"
      name="f1mvUrl"
      [(ngModel)]="this.f1mvService.f1mvUrl" />
    <button
      *ngIf="this.f1mvService.f1mvUrl"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="this.f1mvService.f1mvUrl = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="standard" style="margin-right: 8px">
    <mat-label>Bridge IP</mat-label>
    <input
      matInput
      type="text"
      name="BridgeIp"
      [(ngModel)]="this.discoveryService.bridgeIp" />
    <button
      *ngIf="this.f1mvService.f1mvUrl"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="this.discoveryService.bridgeIp = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-flat-button
    *ngIf="this.isProd === false"
    (click)="this.discoveryService.bridgeIp = '192.168.1.22'">
    Set bridge 192.168.1.22
  </button>
  <button mat-flat-button (click)="this.discoveryService.getBridge()">
    Get Bridge
  </button>

  <p *ngIf="discoveryService.bridgeIp">
    If the below throws an error about the certificate being invalid, go to
    <a href="https://{{ this.discoveryService.bridgeIp }}">your bridge</a> and
    trust it.
  </p>
  <div style="margin-bottom: 20px">
    <button
      mat-flat-button
      color="primary"
      (click)="this.discoveryService.authorizeOnBridge()">
      Authorize
    </button>
    {{ this.discoveryService.currStatus }}
  </div>

  <button
    mat-flat-button
    (click)="this.lightService.getLights()"
    color="primary"
    style="margin-right: 8px">
    Get lights
  </button>
  <button mat-flat-button (click)="this.lightService.flashAllFlag()">
    Flash all lights
  </button>

  <div style="margin-top: 20px">
    <button
      mat-flat-button
      color="primary"
      (click)="this.subToApi()"
      style="margin-right: 8px">
      Sub to F1MV Timing
    </button>
    <button mat-flat-button (click)="this.destroy$.next(null)">
      Unsub from F1MV Timing
    </button>
  </div>
</div>

<div class="light-container">
  <app-light
    *ngFor="let light of this.lightService.lights"
    [light]="light"></app-light>
</div>

<div *ngIf="this.lightService.lights.length > 4">
  <p>
    You've got more than 4 lights. The Hue bridge can't keep up with the
    requests being sent. This will be fixed when entertainment areas get
    implemented. Limiting the app to using 4 lights only.
  </p>
</div>
<pre *ngIf="!isProd"><p>{{ this.lightService.lights | json }}</p></pre>
