<p>
  Before using this, enable the experimental option in F1MV called 'Allow all
  websites to access the API'.
</p>
<p>
  You may notice this page is playing audio. This is a way to keep the tab
  active when you minimize your browser.
</p>
<p>
  Side note: your browser will say this page is unsecure. This is because it's
  communicating with the HTTP API of F1MV and Hue, which are unsecured/self
  signed. This is not a problem. Everything happens on your computer.
</p>
<p>
  Lights will revert back to the 'dimmed' scene color 5 seconds after the green
  flag.
</p>
<div style="margin-bottom: 20px">
  <p>The F1MV API url can be found under the experimental settings.</p>
  <mat-form-field appearance="standard" style="margin-right: 8px">
    <mat-label>F1MV API Url</mat-label>
    <input
      matInput
      type="text"
      name="f1mvUrl"
      (ngModelChange)="this.setLocalStorage('f1mvUrl', $event)"
      [(ngModel)]="this.f1mvService.f1mvUrl" />
    <button
      *ngIf="this.f1mvService.f1mvUrl"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="this.f1mvService.f1mvUrl = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="standard" style="margin-right: 8px">
    <mat-label>Bridge IP</mat-label>
    <input
      matInput
      type="text"
      name="BridgeIp"
      (ngModelChange)="this.setLocalStorage('bridgeIp', $event)"
      [(ngModel)]="this.discoveryService.bridgeIp" />
    <button
      *ngIf="this.f1mvService.f1mvUrl"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="this.discoveryService.bridgeIp = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-flat-button
    *ngIf="!isProd"
    (click)="this.discoveryService.bridgeIp = '192.168.1.22'">
    Set bridge 192.168.1.22
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="this.discoveryService.getBridge()">
    Get Bridge
  </button>

  <p *ngIf="discoveryService.bridgeIp">
    If the below throws an error about the certificate being invalid, go to
    <a href="https://{{ this.discoveryService.bridgeIp }}">your bridge</a> and
    trust it.
  </p>
  <div style="margin-bottom: 20px">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!this.discoveryService.bridgeIp"
      (click)="this.discoveryService.authorizeOnBridge()">
      Authorize
    </button>
    {{ this.discoveryService.currStatus }}
  </div>

  <button
    mat-flat-button
    (click)="this.getLights()"
    color="primary"
    [disabled]="this.discoveryService.hueApiKey.value === ''"
    style="margin-right: 8px; margin-bottom: 20px">
    Get lights
  </button>

  <div style="margin-bottom: 20px">
    <button
      mat-flat-button
      color="primary"
      (click)="isSubbed ? this.unsubToApi() : this.subToApi()"
      style="margin-right: 8px">
      {{ this.isSubbed ? 'Unsub from' : 'Sub to' }} F1MV Timing
    </button>
  </div>
  <div style="display: flex; flex-wrap: wrap">
    <div class="row" style="margin-right: 20px">
      <div class="sync">
        <button
          mat-flat-button
          (click)="this.syncAllLights()"
          [disabled]="this.lightService.lights.length === 0">
          Sync all lights
        </button>
        <button
          mat-flat-button
          (click)="this.unsyncAllLights()"
          [disabled]="this.lightService.lights.length === 0">
          Unsync all lights
        </button>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <p>Default state:</p>
        <mat-slide-toggle [(ngModel)]="configService.defaultState">{{
          configService.defaultState ? 'On' : 'Off'
        }}</mat-slide-toggle>
      </div>
      <div class="row">
        <p>Default brightness: {{ formatLabel(configService.brightness) }}%</p>
        <mat-slider
          min="0"
          max="254"
          thumbLabel="true"
          [displayWith]="formatLabel"
          [(ngModel)]="configService.brightness"></mat-slider>
      </div>
      <div class="row">
        <p>Flag brightness: {{ formatLabel(configService.flagBrightness) }}%</p>
        <mat-slider
          min="0"
          max="254"
          thumbLabel="true"
          [displayWith]="formatLabel"
          [(ngModel)]="configService.flagBrightness"></mat-slider>
      </div>
    </div>
  </div>
  <button
    mat-flat-button
    (click)="this.openDialog()"
    color="primary"
    [disabled]="!this.isSubbed"
    style="margin-right: 8px; margin-bottom: 20px">
    Open digi flag
  </button>
</div>

<div class="light-container">
  <app-light
    *ngFor="let light of this.lightService.lights"
    [light]="light"></app-light>
</div>
<pre *ngIf="!isProd"><p>{{ this.lightService.lights | json }}</p></pre>
