/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container {
  background-color: transparent !important;
  padding: 0 !important;
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}
